<!-- begin footer -->
<footer class="footer">

  <div class="footer__gallery">
    {% if site.data.settings.gallery %}
    <div class="gallery">
      {% for image in site.data.settings.gallery.gallery__images %}
      <div class="gallery__image">
        <img src="{{site.baseurl}}{{image.url}}" alt="{{image.alt}}" loading="lazy">
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="footer__inner">
          <div class="container">
            <div class="row">
      
              <div class="col col-8 col-d-12">
                <div class="footer__author">
                  <div class="footer__author-avatar">
                    <img class="lazy" data-src="{{site.data.settings.author.author__avatar}}" alt="{{site.data.settings.author.author__name}}">
                  </div>
                  <div class="footer__author-info">
                    <h3 class="footer__author-name">{{site.data.settings.author.author__name}}</h3>
                    <p class="footer__author-bio">{{site.data.settings.author.author__bio}}</p>
                    {% if site.data.settings.social %}
                    <div class="social">
                      <ul class="social__list list-reset">
                        {% for social in site.data.settings.social %}
                        <li class="social__item">
                          <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener"
                            aria-label="Social link"><i class="ion {{social.icon}}"></i></a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
      
              <div class="col col-4 col-d-12">
                <div class="footer__nav">
                  <h3 class="footer__nav-title">Navigation</h3>
                  <ul class="footer__nav-list list-reset">
                    {% for item in site.data.settings.footer_menu__settings.menu__items %}
                    <li class="footer__nav-item">
                      <a href="{{ item.url | relative_url }}" class="footer__nav-link">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
      
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="scroller" data-direction="right" data-speed="slow">
        <div class="scroller__inner">
          <img src="https://dominicbelfiori.com/assets/images/project-usbank.jpg" alt="U.S. Bank" />
          <img src="https://dominicbelfiori.com/assets/images/project-target.jpg" alt="Target.com" />
          <img src="https://dominicbelfiori.com/assets/images/project-wyndham.jpg" alt="Wyndham Hotel Group" />
          <img src="https://dominicbelfiori.com/assets/images/project-amtrak.jpg" alt="Amtrak" />
          <img src="https://dominicbelfiori.com/assets/images/project-uhc.jpg" alt="United Healthcare" />
          <img src="https://dominicbelfiori.com/assets/images/project-jm-smuckers.jpg" alt="J.M. Smuckers" />
          <img src="https://dominicbelfiori.com/assets/images/project-best-buy.jpg" alt="Best Buy" />
          <img src="https://dominicbelfiori.com/assets/images/project-pepsico.jpg" alt="Pepsi Co." />
          <img src="https://dominicbelfiori.com/assets/images/project-general-mills.jpg" alt="General Mills" />
          <img src="https://dominicbelfiori.com/assets/images/project-petco.jpg" alt="Petco" />
          <img src="https://dominicbelfiori.com/assets/images/project-bac.jpg" alt="Bank of America" />
          <img src="https://dominicbelfiori.com/assets/images/project-usa-gov.jpg" alt="U.S. Government" />
          <img src="https://dominicbelfiori.com/assets/images/project-nhl.jpg" alt="NHL" />
          <img src="https://dominicbelfiori.com/assets/images/project-bauer.jpg" alt="Bauer" />
          <img src="https://dominicbelfiori.com/assets/images/project-skittles.jpg" alt="Skittles" />
          <img src="https://dominicbelfiori.com/assets/images/project-peiwei.jpg" alt="Pei Wei" />
          <img src="https://dominicbelfiori.com/assets/images/project-express.jpg" alt="Express" />
          <img src="https://dominicbelfiori.com/assets/images/project-jr-watkins.jpg" alt="J.R. Watkins" />
          <img src="https://dominicbelfiori.com/assets/images/project-belize.jpg" alt="TravelBelize.org" />
          <img src="https://dominicbelfiori.com/assets/images/project-alz.jpg" alt="Alz.org" />
          <img src="https://dominicbelfiori.com/assets/images/project-ace.jpg" alt="Ace Hardware" />
          <img src="https://dominicbelfiori.com/assets/images/project-medifast.jpg" alt="Medifast" />
          <img src="https://dominicbelfiori.com/assets/images/project-mitsubishi.jpg" alt="Mitsubishi" />
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- end footer -->
 <script>
    // client carousel
    const scrollers = document.querySelectorAll(".scroller");

    // If a user hasn't opted in for recuded motion, then we add the animation
    if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
      addAnimation();
    }

    function addAnimation() {
      scrollers.forEach((scroller) => {
        // add data-animated="true" to every `.scroller` on the page
        scroller.setAttribute("data-animated", true);

        // Make an array from the elements within `.scroller-inner`
        const scrollerInner = scroller.querySelector(".scroller__inner");
        const scrollerContent = Array.from(scrollerInner.children);

        // For each item in the array, clone it
        // add aria-hidden to it
        // add it into the `.scroller-inner`
        scrollerContent.forEach((item) => {
          const duplicatedItem = item.cloneNode(true);
          duplicatedItem.setAttribute("aria-hidden", true);
          scrollerInner.appendChild(duplicatedItem);
        });
      });
    }

  </script>